
body {
    background-color: #F2913D; /* Jaffa */
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #400101; /* Chocolate */
    font-weight: bold;
}

p {
    color: #730C02; /* Red Oxide */
}

.btn-primary {
    background-color: #F27F3D; /* Tango */
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #BF3604; /* Fire */
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
    background-color: #FFF7F0; /* Contraste suave */
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2rem;
    color: #730C02; /* Red Oxide */
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem;
    color: #400101; /* Chocolate */
}

.container {
    max-width: 900px;
}